@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root{
    
    /*primary colours*/
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /*neutral colours*/
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*{
    margin: 0;
    padding: 0;
}

*,*::after,*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: white;
}

p{
    font-size: 1.5rem;
}

img{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover{
    color: var(--soft-red);
}

li{
    list-style: none;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 9rem 5rem;
    background-color: var(--off-white);
}

@media (max-width: 600px){
    body{
        padding: 3rem 1.6rem;
    }
}
/* define grid*/

.header{
    grid-area: header;
}
.main-content{
    grid-area: main-content;
}
.left-section{
    grid-area: left-section;
}
.right-section{
    grid-area: right-section;
}
.footer{
    grid-area: footer;
}

.container{
    display: grid;
    grid-template: 
    'header header header'
    'main-content main-content main-content'
    'footer footer footer';
    row-gap: 30px;
}


/*Header */
.header{
    flex: 0 0 100%;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 40px;
}

li > a{
    color: var(--dark-grayish-blue);
    font-weight: 600;
    font-size: 1.5rem;
}
.main-content{
    display: grid;
    grid-template: 'left-section left-section right-section';
}

/*Main content left section*/
.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@media (max-width: 900px) {
    .left-section{
        gap: 1.8rem;
    }
}

/* setting up hero image*/
.hero-img{
    max-width: 73rem;
}
.hero-img-mobile{
    display: none;
}
@media (max-width: 900px) {
    .hero-img-mobile{
        display: block;
    }
    .hero-img-desktop{
        display: none;
    }
}

/*Main news item*/
.main-news{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 8rem;
}

.main-news-heading{
    min-width: 30rem;
    font-size: 5.6rem;
    line-height: 5.7rem;
    font-weight: 1000;
}
.main-news-content{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    color: var(--dark-grayish-blue);
    line-height: 24px;
}

/*Read more button*/
.btn{
    color: var(--off-white);
    background-color: var(--soft-red);
    padding: 1.6rem 3rem;
    font-size: 1.4rem;
    letter-spacing: 4.2px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: var(--very-dark-blue);
}

/* Right section*/
.right-section{
    flex: 0 0 35rem;
    max-width: 35rem;
    padding: 2.4rem 2.5rem;
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px){
    .right-section{
        min-width: 35rem;
        max-width: 70rem;
    }
}

@media (max-width: 600px){
    .right-section{
        min-width: 29rem;
        padding: 1.8rem 2.2rem;
    }
}
/*Right title*/
.right-title{
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
    color: var(--soft-orange);
}
/* item box and item*/
.item-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    gap: 3.1rem;
}

.new-item-title-link{
    font-size: 2rem;
    font-weight: 900;
    color: var(--off-white);
}

.new-item-para{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 2.5rem;
    color: var(--off-white);
}

hr{
    height: 1px;
    background-color: var(--dark-grayish-blue);
}


/*Footer section*/
.footer{
    margin-top: 5rem;
}
.base-section{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 50px;
}

.base-item{
    display: flex;
    gap: 2.5rem;
    max-width: 33rem;
}
.base-item img{
    width: 10rem;
}

.base-item-desc{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    }
.base-item-desc h4{
    font-size: 30px;
    font-weight: 700;
    color: hsl(233deg, 8%, 79%);
}

.base-item-desc h5{
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.base-item-desc h5 a{
    color: black;
    
}
.base-item-desc h5 a:hover{
    color: var(--soft-red);
    
}


@media (max-width: 1200px) {
    .base-item-desc h5{
        white-space: initial;
    }
}
.base-item-desc p{
    line-height: 2.5rem;
    color: hsl(236deg, 13%, 42%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 2rem;
}
